body{
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden; 
    

}
html{
    box-sizing: border-box;
}
*,*::after, *::before{
    box-sizing: inherit;

}
h1,h2,h3,h4,h5,h6, p{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color:#000000;
}

a{
    text-decoration: none;
    color:#000000;

}
li{
    
    list-style: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
img{
    display: block;
    height: auto;
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    
    
}

/*scroll*/
.scroll-up{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    color: rgba(236, 247, 247, 0.65);
    cursor: pointer;
    visibility: hidden;
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px  rgba(225, 233, 233, 0.65);
    opacity: 0;
    transition: .2s all linear;
    transform: translateY(25px);
}
.scroll-up::before{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    content: "↑";
    color:  rgb(18, 148, 235);
}
.scroll-up:hover{
    color: rgb(56, 140, 209);
}
.scroll-up--active{
    opacity: 1;
    visibility:visible;
    transform: translateY(0);
}
.scroll-up__svg-path{
    box-sizing: content-box;
    fill: none;
    stroke: rgb(18, 148, 235);
    stroke-width: 4px;
    transition: .2s all linear;
}


/* HEADER */
.header{
    position: fixed;
    z-index: 99;
    top:0;
    right: 0;
    width: 100%;
    transition: 0.3s all linear;
    
}
.header_active{
    background-color: skyblue;
}
.header__content{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}
.header__logo{
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding-left: 50px;
    
}
.header__logo:hover::before{
    
    -webkit-box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.96); 
    box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.96);
}
.header__logo::before{
    display: block;
    content: 'T';
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 9px;
    font-weight: 700;
    background-color: #458FF6;
    border-radius: 50%;
    border: #000000;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top:-50%;
    transition: 0.3s all linear;

}
.header__list{
    display: flex;
}

.header__list li{
    padding-right: 30px;
}

.header__list li:last-child{
    padding-right: 0px;
}
.header__link{
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s all linear;
}
.header__link:hover{
    opacity: 0.7;
    border-bottom: 1.5px solid #000000;
    padding-bottom: 4px;
}

.header__burger{
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
}

.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
}
.burger__line_first{
    top:0;

}
.burger__line_second{
    top:50%;
    transform: translateY(-50%);
}

.burger__third{
    bottom: 0;
}

/* INNER */

.inner{
    padding-top: 150px;
}
.inner__content{
    display: flex;
    font-size: inherit;
   
}
.inner__item{
    display: flex;
    flex: 1 1 ;
    align-items: center;
}
.inner__text{
  max-width: 420px ;
}

.inner__title{
    margin-bottom: 25px;
    font-family: inherit;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.16;
   
}

.inner__subtitle{
    margin-bottom: 45px;
    font-weight: 400;
    color: #7D7987;
    font-size: 21px;
    line-height: 1.52;
}

.inner__link{
    border: none;
    background: #458FF6;
    border-radius: 55px;
    padding: 20px 40px;
    text-align: center;
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 3.33;
    text-transform: uppercase;
    outline: none;
    transition: .3s all linear;
    
}

.inner__link:hover{
    background-color: #2a91db;
    font-size: 19px;
    box-shadow: 5px 8px 2px 1px rgba(0, 0, 0, .1);
}

/* SERVICES */

.services{
    margin-top: 100px;
    
}

.services__main-text{
    margin: 0px auto;
    text-align: center;
    max-width: 920px;
}

.main__title{
    font-size: inherit;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 30px;
    text-align: center;
}
.main__title::after{
    display: block;
    content: '';
    height: 2px;
    width: 55px;
    background-color: #000000;
    position: absolute;
    right: 48%;
    bottom: 0;
    text-align: center;
}
.main__subtitle{
    color:  #7D7987;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.services__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0px;
    
   
    
}
.services__item{
    width: 31%; 

    padding: 15px 50px 15px 15px;
    /* margin: 30px 10px; */
   
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    
}
.services__img{ 
    margin-top: 30px;
    display: block;
    height: auto;
    width: 60px;

}


.services__item-title{
    margin: 15px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 56px;
}
.services__item-subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;

}
.learn__link{
    display: block;
    width: 200px;
    padding: 20px 50px;
    color: #2a91db;
    border: 2px solid#2a91db;
    border-radius: 40px;
    font-weight: 400;
    font-size:16px;
    transition: .2s all linear;
    text-align: center;
}
.learn__link:hover{
    background-color: #2a91db;
    color: #fff;
    font-weight: 600;
    font-size:17px;
}
.services__link{
    margin: auto;
}

/*providers*/

.providers__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;

}
.prov__img{
    width: 50%;
}
.prov__text{
    width: 50%;
    width: 400px;
    
}
.title{
    margin: 70px 0px 50px 0px;
    position: relative;
    padding-bottom: 25px;

    font-weight: 350;
    font-size: 36px;
    line-height: 56px;

    
}

.title::after{
    display: block;
    content: '';
    height: 2px;
    width: 55px;
    background-color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

.subtitle{
    margin-bottom:40px ;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
/*APP*/
.app{
    margin: 250px 0px;
}
.app__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.app__text{
    width: 360px;
}
/*Reviews*/
.reviews{
    margin-bottom: 250px;
}

.reviews__card{
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px; 
}
.reviews__title{
    text-align: center;
    padding: 64px 0px 100px 0px;
    
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;

    position: relative;
    
}
.reviews__title::after{
    display: block;
    content: '';
    position:absolute;
    height: 2px;
    width: 56px;
    background-color: #fff;
    right: 50%;
    top: 65%;


}

.reviews__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 114px 70px 114px;
   

}
.reviews__right{
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 350px;
    
   
}
.reviews__img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding-right: 33px;

    

}
.reviews__bio{
    width: 300px;
}
.name{
    
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
}
.profession{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.85)
}
.reviews__left{
    max-width: 400px;
}
.reviews__text{
    
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);

    mix-blend-mode: normal;
}

/*ARTICLE*/
.article__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px 0px;

}
.article__card{
    width: 31.33%;
    padding-right: 34px;
    height: 512px;
    position: relative;
}
.article__card:last-child{
    padding-right: 0px;
}

.article__img{
    display: block;
    max-width: 350px;
    height: 240px;
    width: 100%;
  
    border-radius: 20px;
}
.card__title{
    margin:15px 0px 20px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    /* or 152% */


    color: #000000;

    mix-blend-mode: normal;
}
.card__subtitle{
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #7D7987;

    mix-blend-mode: normal;
}
.card__link{
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;

    color: #4089ED;

    mix-blend-mode: normal;
    position:absolute;
    bottom: 10%;
}

/* CONTACT */

.contact{
    margin-top: 100px;
}

/* form */

.form__wrapper{
    margin: 70px auto;
    max-width: 600px;
    padding:30px 0px ;
}


.contact__form{
    position: relative;
}
.contact__form::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:  url('../img/loading.gif') center / 50px no-repeat ;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all linear;

}
.contact__form._sending::after{
    opacity: 1;
    visibility: visible;
}

.form__title{
    margin-bottom: 70px;
    text-align: center;
}

.form__item{
    margin-bottom: 30px;
    
}
.form__label{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.form__input{
    border: 1px solid #2a91db;
    height:50px;
    padding: 0px 20px;
    border-radius: 5px;
    width:100%;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.form__input textarea{
    width: 250px;
    height: auto;
}

textarea.form__input{
    min-height: 120px;
    resize: vertical;
    padding: 20px;
    outline: none;
    cursor: pointer;
}
.form__input:focus{
 box-shadow: 0  0 15px #7a7a7a; 
}

.form__input._error{
    box-shadow: 0  0 15px red; 
}

textarea.form__input:focus{
    box-shadow: 0  0 15px #7a7a7a; 
}

.form__button{
 width: 50%;
 min-height: 60px;

 text-align: center;

 background-color: #7fcaff;
 display: block;
 margin: 0px auto;
 border: none;
 border-radius: 25px;
 color: #ffff;
 text-transform: uppercase;
 font-size: 18px;
 font-weight: 500;
 transition: .3s all ease;
 outline: none;
}

.form__button:hover{
    background-color: #2a91db;
    font-size: 19px;
    box-shadow: 5px 8px 2px 1px rgba(0, 0, 0, .1);
}

/* slider */
.testimonials{
    margin-bottom: 100px;
}
.ant-carousel-element img{
    max-width: 100%;
    width: 200px;
    height:200px;
    display: inline-block;
    border-radius: 100%;

}

  
  .ant-carousel {
    margin: 50px auto;
    padding-top: 10px;
   
  }
  
  .ant-carousel-element {
    width: 270px;
    text-align: center;
    padding: 20px;
  }
  
  /* General styles */
  .ant-carousel {
    width: auto;
    position: relative;
  }
  
  .ant-carousel-hider {
    overflow: hidden;
  }
  
  .ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }
  
  .ant-carousel-element {
    display: block;
    flex: 0 0 auto;
  }
  
  /* Navigation item styles */
  div.ant-carousel-arrow-left,
  div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
  }
  
  div.ant-carousel-arrow-left {
    left: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
  }
  
  div.ant-carousel-arrow-right {
    right: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
  }
  
  div.ant-carousel-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.ant-carousel-arrow-right:hover {
    opacity: 1.0;
  }
  
  div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -60px;
    z-index: 10;
    text-align: center;
  }
  
  span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
  }

  /* timer */

  .countdown-title {
    color: #2a91db;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
   
  .countdown {
      margin-top: 50px;
    display: block;
   text-align: center;
    font-family: sans-serif;
    color: #fff;
  
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
   
  .countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #6eb3db;
    display: inline-block;
    margin-bottom: 10px;
  }
   
  .countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #2a91db;
    display: inline-block;
  }
   
  .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }

  /*footer*/
.footer__content{
    margin-top: 200px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding: 100px 0px;
}
.footer__cards{
   
    

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    
}
.footer__big-colum{
    width: 380px;
}

.footer__logo{
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding-left: 50px;
    color: #fff;
    
}
.footer__logo{
    text-align: center;
    margin-bottom: 30px;
}
.footer__logo:hover::before{
    
    -webkit-box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.96); 
    box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.96);
}
.footer__logo::before{
    display: block;
    content: 'T';
    text-align: center;
    color: #458FF6;
    font-size: 20px;
    padding: 9px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 50%;
    border: #000000;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top:-50%;
    transition: 0.3s all linear;

}
.footer__text{
    margin: 20px 0px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__list > *{
    padding-bottom: 10px;
    
}
.footer__link-top{
   padding-bottom: 50px;
}
.footer__link{
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    /* or 211% */


    color: #FFFFFF;
    transition: .3s all linear;
    position: relative;
}
.footer__link:hover{
    color: antiquewhite;
  
}
.footer__link:hover::after{
    display: block;
    content:'';
    position: absolute;
    background-color: antiquewhite;
    height: 2px;
    bottom: 1;
    left: 0;
    width: 100%;

}

/* MEDIA */
@media screen and (min-width: 911px) {
   
   
}
@media screen and (max-width: 890px) {
   .container{
       max-width: 800px;
   }
   .providers__content{
       justify-content: center;
       align-items: center;
   }
   .prov__img {
    width: 100%;
   }
   .prov__text {
    width: 100%;
    
   }
   .app__content {
        display: flex;        
        flex-direction: column-reverse;
   }  
   .app__text {
        /* max-width: 360px; */
        width: 100%;
    }
    .prov__img {
        width: 100%;
    }
    
    .reviews{
        margin-bottom: 50px;
    }
    .reviews__title {
        padding: 40px 0px 60px 0px;
        font-size: 30px;
    }
    .reviews__content {
        
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px 10px 50px 10px;
    }
    .reviews__right {
        flex-direction: column;
        align-items: center;
    }
    
    .reviews__img {
        
        margin: auto;
    }
    
    .article__card{
        width: 50%;
    }

    .footer__content{
        margin-top: 50px;
        padding: 50px 0px;
    }
    .footer__big-colum{
        width: 100%;
    }


   
}
@media (max-width: 767px){
    .container{
        max-width: 550px;
    }
    .services {
        margin-top: 50px;
    }
    .services__item{
        margin: 20px 0px;
    }
    .app {
        margin: 50px 0px;
    }
    .timer_section > div{
        font-size: 30px;
        width: 30px;
        line-height: 40px;
    }
    .timer_delimetr{
        line-height: 40px;
        font-size: 30px;
    }
    .timer_section > div.timer_section_desc{
        font-size: 14px;
        line-height: 26px;
    }
} 

    @media screen and (min-width: 640px) and (max-width: 910px) {
        .header__link {
            font-size: 14px;
        }
        .services__item {
            width: 50%;
            margin: 20px 0px;
            padding: 15px ;
            text-align: center;
        }
        .services__img{
            margin: auto;
        }
        
        .ant-carousel {
        max-width: 540px;
        }
    }
  

 @media screen and (max-width:640px){
    .container{
        max-width: auto;
    }
    .inner__title {
        font-size: 38px;
    }
    .inner__subtitle {
        font-size: 20px;
    }
    .inner__link{
        padding: 20px 30px;
    }
    .inner__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .inner__item {
        
        width: 100%;
        text-align: center;
    }

    .inner__text {
        max-width: 500px;
     
        margin: 0px auto;
    }
    .inner__title {
        margin-top: 50px;
    }
    .services__items{
        margin: 40px 0px;
    }
    .services__item {
        width: 100%;
        text-align: center;
    }
    .services__img{
        margin: auto;
    }
    
    .services__img{
        max-width: 85px;
        height: auto;
    }
    
    .header__burger{
        display: block;
    }
    .header__nav{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: azure;
        z-index: 20;
        transform: translateX(100%);
        transition: 0.2s all linear;
    }
    .header__nav_active{
        transform: translateX(0);
    }
    .header__list{
        flex-direction: column;
    }
    .header__list li{
        padding: 30px;
    }
    .header__link{
        font-size: 28px;
        font-weight: 700;
        transition: 0.2s all linear;
    }
    .header__close{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20px;
        right: 20px;
        z-index: 10;
    }
    .close__line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top:50%;
        

    }
    .close__line:first-child{
        transform:translateY(-50%) rotate(45deg);
    }
    .close__line:last-child{
        transform:translateY(-50%) rotate(-45deg);
    }

    .ant-carousel {
        max-width: 270px;
    }
   
    .prov__img {
        width: 100%;
    }
    .form__wrapper{
        margin: 50px auto;
    }
    .form__title {
        margin-bottom: 40px;
    }
    .article__cards{
        margin: 0px;
    }
    .article__card {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
        padding: 0px;
        height: auto;
    }
    .article__card:last-child{
        margin-bottom: 40px;
    }
    .article__img{
        margin: auto;
    }
    .card__link {
       
        position: inherit;
        bottom: 0;
    }


}
@media screen and (max-width:450px){
    .services__item {
        max-width: 100%;
    }
    .reviews__title::after {
        right: 45%;
        top: 85%;
    }
}